@media(max-width: 1190px){
	/* nav bar */
	main h1, h3 {
		font-size: 37px;
	}

	/* main */

	#about {
		display: block;
	}

	#about img {
		position: relative;
		width: 100%;
	}

	.kolom {
		padding: 0 0 5% 0;
	}
}

@media(max-width: 900px){
	/* nav bar */

	#about {
		padding: 0 5%;
	}
}
